{% extends layout %}

{% block content %}

    <div class="row page-content">
        <div class="col-md-4">
            <h2>{{ title }}</h2>
            <p>
                {% for p in message %}
                    {{p}} <br/>
                {% endfor %}
            </p>
            <br />
            {% for f in forms %}
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <form actions="." method="post">
                        {% csrf_token %}
                        <input type="submit" name="Form Choice {{f.title}}" value="{{f.title}}" class="btn btn-default btn-contact" />
                    </form>
                </div>
                <div class="col-md-7">
                    <p>{{f.description}}</p>
                </div>
            </div>

            {% endfor %}

            {% for e in extra_actions %}
            <hr />
            <div class="row">
                <div class="col-md-5">
                    <form actions="." method="post">
                        {% csrf_token %}
                        <input type="submit" name="Action Choice {{e.title}}" value="{{e.title}}" class="btn btn-default btn-contact" />
                    </form>
                </div>
                <div class="col-md-7">
                    <p>{{e.description}}</p>
                </div>
            </div>

            {% endfor %}
        </div>
        <div class="col-md-1"></div>
        {% if form != None %}
            <div class="col-md-6">
                {% if error_message|length > 0 %}
                    <h3>Error</h3>
                {% endif %}
                {% for error in error_message %}
                    <p>{{error}}</p>
                {% endfor %}
                <h3>{{form.title}} Form</h3>
                <form method="post">
                    {% csrf_token %}
                    <div id="contact-form-type">
                    {{form.as_p}}
                    </div>
                <div class="form-actions">
                    <button name="{{form.title}}" value="{{form.title}}" type="submit">{{form.submit_text}}</button>
                </div>
                </form>
            </div>
        {% endif %}


    </div>


{% endblock %}
